.header {
    background: #657583;
}

.header_label .webix_el_box,
.webix_transparent.header_button button,
.webix_transparent.header_button .webix_icon_btn {
    color: white;
}

.side_menu .webix_view {
    background: #eeeeee;
}

.connection {
    border-color: #eeeeee;
}

.connection .webix_template {
    color: green;
}

.centered_text, 
.centered_text .webix_column {
    text-align: center;
}

.left_align_text.webix_column {
    text-align: left;
}

.light_grey {
    background: #F4F5F9;
}

.light_blue,
.users_list .webix_list_item:hover {
    background: #ebfbff;
}

.orange_hover .wxi-trash:hover,
.orange_hover.wxi-close:hover {
    color: orange;
}

.users_list {
    display: flex;
    justify-content: space-between;
}

.users_list .wxi-close {
    display: flex;
    align-items: center;
}

.light_yellow {
    background: rgb(255, 254, 200);
}

 mark.blue {
    background: rgb(203, 231, 252);
}